body {
  background-color: #3059c3;
  margin: 80px;
  padding-bottom: -100px;
}

.input1{
  
  width: 400px;
  height: 60px;
  top: 20px;
  border-radius: 50px;
  border: 1px solid #e6e6e6;
  border-style: solid;
  outline: none;
  font-size: 20px;
  padding-left: 10px;  
  
}
.input2{
  width: 825px;
  height: 60px;

  border-radius: 50px;
  border: 1px solid #e6e6e6;
  outline: none;
  font-size: 20px;
  padding-left: 10px;  
}
::placeholder{
  padding-left: 10px;
  font-size: 20px;
}
table{
  
  border-collapse: separate;
  border-spacing: 0 20px;
  margin-top: -8px;
  position: relative;
  top: 50px;
  left: 800px;
  background-color: white;
  width: 850px;
  
  
}
.linhaMeio{
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  
  padding-left: 250px;
  
}
.linha{
  padding-top: 20px;
}
div{
  
  position: relative;
  top: -70px;
  border-radius: 10px;
  padding-bottom: 117px;
  background-color: white;
}
.buttonRegis{
  width: 825px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #5076db;
  background-color: #5076db;
  color: white;
  font-size: 20px; 
  outline: none;
}
button:hover{
  cursor: pointer;
  border-color: gray;
}
.imgDogo{
  position: absolute;
  top: 0px;
  height: 904px;
  border-radius: 10px 0px 0px 10px;
}
.imgGoogle{
  position: absolute;
  left: 270px;
  top: 515px;
  height: 37px;
}
.imgFace{
  position: absolute;
  left: 260px;
  top: 590px;
  height: 37px;
  
}
.buttonGoogle{
  width: 825px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #e7443d;
  background-color: #e7443d;
  color: white;
  font-size: 20px; 
  outline: none;
  
}
.buttonFace{
  width: 825px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #3c5a96;
  background-color: #3c5a96;
  color: white;
  font-size: 20px; 
  outline: none;
}
.bordaGoogleTop{
  border-top: solid 1px #e6e6e6;
  padding-top: 20px;
}
.bordaFaceBottom{
  border-bottom: solid 1px #e6e6e6;
  padding-bottom: 20px;
}
.centralizarTexto{
  text-align:center;
  color: #3f48cc;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
